


<div class="container-fluid">
  <div class="col-16">
    <table class="table">
      <thead>
        <tr>
          <a href="aerolineas[0].id">
            <th class="h4" > {{aerolineas[0].airlineName}}</th>
          </a>
          
          <th class="h4"> {{aerolineas[1].airlineName}}</th>
          <th class="h4"> {{aerolineas[2].airlineName}}</th>
          
        </tr>

        <tr>
          <th class="h4">{{aerolineas[3].airlineName}}</th>
          <th class="h4"> Aerolinea de los Andes</th>
          <th class="h4"> {{aerolineas[4].airlineName}}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
