


<div class="container-fluid">
  <div class="col-16">
    <table class="table">
      <thead>
        <tr>
          <a href="aerolineas[0].id">
            <th class="h4" > {{aerolineas[0].airlineName}}</th>
          </a>
          
          <th class="h4"> {{aerolineas[1].airlineName}}</th>
          <th class="h4"> {{aerolineas[2].airlineName}}</th>
          
        </tr>

        <tr>
          <th class="h4">{{aerolineas[3].airlineName}}</th>
          <th class="h4"> Aerolinea de los Andes</th>
          <th class="h4"> {{aerolineas[4].airlineName}}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>



<div class="container-fluid">
  <div class="col-16">
    <table class="table">
      <thead>
        <tr>
          
            <th class="h4" >
              <ul>{{aerolineas[0].airlineName}}
                <li>País: {{ aerolineas[0].country }}</li>
                <li>Ciudad: {{ aerolineas[0].city }}</li>
                <li>Dirección: {{ aerolineas[0].adress }}</li>
                <li>Slogan: {{ aerolineas[0].slogan }}</li>
              </ul> 
            </th>

            <th class="h4" >
              <ul>{{aerolineas[1].airlineName}}
                <li>País: {{ aerolineas[1].country }}</li>
                <li>Ciudad: {{ aerolineas[1].city }}</li>
                <li>Dirección: {{ aerolineas[1].adress }}</li>
                <li>Slogan: {{ aerolineas[0].slogan }}</li>
              </ul> 
            </th>
            

        
          
          <th class="h4"> {{aerolineas[1].airlineName}}</th>
          <th class="h4"> {{aerolineas[2].airlineName}}</th>
          
        </tr>

        
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>